.links-of-author {
  margin-top: 15px;
  color: $whitesmoke;

  a, span.exturl {
    border-bottom-color: $whitesmoke;
    display: inline-block;
    font-size: $font-size-smaller;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;

    if (hexo-config('social_icons.transition')) {
      the-transition();
    }

    &::before {
      border-radius: 50%;
      content: ' ';
      display: none;
      height: 4px;
      margin-right: 3px;
      vertical-align: middle;
      width: 4px;
    }
  }
}
